# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\agust_\Desktop\FACULTAD\2DO ANIO\2DO CUATRIMESTRE\IPOO\Practica\TrabajoPractico1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
